<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.mariabeas.keepsafe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Pantalla principal -->
        <activity android:name=".MainActivity">
            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>-->
        </activity>

        <!-- Pantalla del menu-->
        <activity android:name="com.app.mariabeas.keepsafe.MenuActivity"
            android:label="@string/app_name">

        </activity>

        <!-- Pantalla del registro-->
        <activity android:name=".RegistroActivity"
            android:label="@string/app_name">
        </activity>

        <!-- Pantalla de los datos-->
        <activity android:name=".DatosActivity"
            android:label="@string/app_name">
        </activity>

        <!-- Pantalla del splash-->
        <activity android:name=".SplashActivity">
            <!--android:label="@string/app_name"> -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla de cambiar contraseña-->
        <activity android:name=".CambiarPassActivity"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>
